第27回（2021/09/27）

プロフェッショナルSSL/TLS p.129〜を読みます

https://twitter.com/ando_tw/status/1440482710309400579?s=21

> Lavabit事件：スノーデンが利用していたメールサイトは「すべての経路暗号化通信」が当局によって記録されており、当局が「秘密鍵」の提出をメールサイトに要求したことでその事実がバレた事件。スノーデン以外の無関係な利用者の通信もすべて復号されることから猛烈な反感を招いた事案。

https://negi.hatenablog.com/entry/2013/11/05/093606

> 2013-11-05
> Lavabit 事件とその余波、そして Forward Secrecy

https://jvn.jp/vu/JVNVU92089088/

> The Apache Software Foundationから、Apache Tomcatの脆弱性に対するアップデートが公開されました。
> サービス運用妨害（DoS）- CVE-2021-41079
> TLSにNIOとOpenSSLまたはNIO2とOpenSSLを使用したシステム構成の場合、細工されたパケットを受信すると、TLSの内部処理において無限ループが引き起こされる可能性があります。

https://twitter.com/spazef0rze/status/1008784872645816320?s=20

> TLS 1.3 will be published as RFC 8446, see https://rfc-editor.org/auth48/rfc8446

> Going through "Obsoletes" I've noticed all TLS RFCs ends in -46:
TLS 1.2 is RFC 5246
TLS 1.1 is RFC 4346
TLS 1.0 is RFC 2246

> Hey TLS 1.4, you have one job!


https://atmarkit.itmedia.co.jp/ait/spv/2108/25/news097.html

> 「Let's Encrypt」攻撃

> 　フラウンホーファーセキュリティ情報研究所（Fraunhofer Institute for Secure Information Technology）の研究チームは、SSL/TLS向けのサーバ証明書を発行する認証局「Let's Encrypt」に導入された「多視点ドメイン検証」が迂回（うかい）される可能性があることを明らかにした。

> 参考記事：SSL/TLS証明書の「不正発行」を防ぐ多視点ドメイン検証、Let's Encryptが開始

> 　攻撃者は、幾つかのネームサーバに対してパケット損失や遅延を発生させる。すると、システムは「攻撃者が選んだネームサーバ」に依存することになり、多視点ドメイン検証がうまく働かなくなる。こうすることで攻撃者は認証局をだまし、自身が所有するWebドメインのデジタル証明書を取得し、フィッシング攻撃などの詐欺に悪用できるようになる。

> 　研究チームは「この発表はドメイン検証がまだ安全ではなく、詐欺防止効果を高めるには、より洗練させる必要があることを示している」としている。

p.137まで